.title_country {
    text-align: center;
    margin-bottom: 4rem;
}

.country {
    display: flex;
    justify-content: flex-start;
}

.country section:nth-child(2), .country section:nth-child(3) {
    margin-left: 4rem;
}

.country section ul li {
    padding-bottom: 2rem;
}

.country section ul li span {
    font-weight: bold;
}

.flag {
    width: 30rem;
    border: 1px solid black;
}

.nav_buttons {
    float: right;
}

.nav_buttons .countries_back {
    margin-right: 2rem;
}