.title {
    text-align: center;
}

.regions {
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
    grid-gap: 5rem;
    margin-top: 5rem;
    padding: 0 4rem;
}

.region {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5rem 0;
    font-size: 2rem;
}

.region-0 {
    background-color: #0000ff33;
}

.region-1 {
    background-color: #ff000054;
}

.region-2 {
    background-color: #0080005e;
}

.region-3 {
    background-color: #ffff006e;
}

.region-4 {
    background-color: #80008061;
}

.region-5 {
    background-color: #ffa50085;
}